{% set CSS = [
    'dark.less.css',
] -%}
{% set JS = [
    'capabilities.js',
    'storage.js',
    'humanedate.js',
    'workers.js',
    'general.js',
] -%}

{% set defaults = {
  'status': '200',
  'frequency_number': '5',
  'frequency_unit': '60000',
} %}

{% set status_choices = [
  ('100', '100 Continue'),
  ('101', '101 Switching Protocols'),
  ('200', '200 OK'),
  ('201', '201 Created'),
  ('202', '202 Accepted'),
  ('203', '203 Non-Authoritative Information'),
  ('204', '204 No Content'),
  ('205', '205 Reset Content'),
  ('206', '206 Partial Content'),
  ('300', '300 Multiple Choices'),
  ('301', '301 Moved Permanently'),
  ('302', '302 Found'),
  ('303', '303 See Other'),
  ('304', '304 Not Modified'),
  ('305', '305 Use Proxy'),
  ('306', '306 Switch Proxy (Unused)'),
  ('307', '307 Temporary Redirect'),
  ('400', '400 Bad Request'),
  ('401', '401 Unauthorized'),
  ('402', '402 Payment Required'),
  ('403', '403 Forbidden'),
  ('404', '404 Not Found'),
  ('405', '405 Method Not Allowed'),
  ('406', '406 Not Acceptable'),
  ('407', '407 Proxy Authentication Required'),
  ('408', '408 Request Timeout'),
  ('409', '409 Conflict'),
  ('410', '410 Gone'),
  ('411', '411 Length Required'),
  ('412', '412 Precondition Failed'),
  ('413', '413 Request Entity Too Large'),
  ('414', '414 Request-URI Too Long'),
  ('415', '415 Unsupported Media Type'),
  ('416', '416 Requested Range Not Satisfiable'),
  ('417', '417 Expectation Failed'),
  ('500', '500 Internal Server Error'),
  ('501', '501 Not Implemented'),
  ('502', '502 Bad Gateway'),
  ('503', '503 Service Unavailable'),
  ('504', '504 Gateway Timeout'),
  ('505', '505 HTTP Version Not Supported'),
] %}

{% set header_choices = [
  'Accept-Ranges',
  'Age',
  'Allow',
  'Cache-Control',
  'Connection',
  'Content-Encoding',
  'Content-Language',
  'Content-Length',
  'Content-Location',
  'Content-MD5',
  'Content-Disposition',
  'Content-Range',
  'Content-Type',
  'Date',
  'ETag',
  'Expires',
  'Front-End-Https',
  'Last-Modified',
  'Link',
  'Location',
  'P3P',
  'Pragma',
  'Proxy-Authenticate',
  'Refresh',
  'Retry-After',
  'Server',
  'Set-Cookie',
  'Strict-Transport-Security',
  'Trailer',
  'Transfer-Encoding',
  'Vary',
  'Via',
  'Warning',
  'WWW-Authenticate',
  'X-Frame-Options',
  'X-XSS-Protection',
  'X-Content-Type-Options',
  'X-Forwarded-Proto',
  'X-Powered-By',
  'X-UA-Compatible'
] %}

{# TODO: Remove seconds so this isn't abused. Require a value of at least 1! #}
{% set frequency_choices = [
  ('1000', 'second'),
  ('60000', 'minute'),
  ('3600000', 'hour'),
  ('86400000', 'day'),
] %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="robots" content="none">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,900,300">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
        {%- for stylesheet in CSS %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/' + stylesheet) }}">
        {%- endfor %}
        <title>Prana</title>
    </head>
    <body>
        <header id="site-header">
            <h1>Prana</h1>
        </header>
        <nav class="c" role="navigation">
            <ul>
                <li><a href="#" class="add">+</a></li>
                <li><a href="#" class="successes">&#9786;</a></li>
                <li><a href="#" class="failures">&#9785;</a></li>
                <li class="pause"><a href="#" class="pause"></a></li>
            </ul>
        </nav>

        <form>
                <dl>
                    <dt>
                        <label for="url">URL</label>
                    </dt>
                    <dd class="c">
                        <input type="text" name="url" id="url" required>
                    </dd>
                    <dt>
                        <label for="status">Status code</label>
                    </dt>
                    <dd class="c">
                        <select name="status" id="status">
                            <option value="">-----</option>
                            {%- for status, label in status_choices %}
                                <option{{ ' selected' if status == defaults.status }} value="{{ status }}">{{ label }}</option>
                            {%- endfor %}
                            <option value="[custom]">Custom</option>
                        </select>
                        <input type="text" class="hidden custom">
                        <span class="custom">(regular expression)</span>
                    </dd>
                    <dt>
                        <label for="frequency_number">Interval</label>
                    </dt>
                    <dd class="c">
                        <span>Every</span>
                        <input type="text" name="frequency_number" id="frequency_number" value="{{ defaults.frequency_number }}">
                        <select name="frequency_unit">
                            {%- for ms, interval in frequency_choices %}
                                <option data-singular="{{ interval }}" data-plural="{{ interval + 's' }}"
                                        value="{{ ms }}"{{ ' selected' if ms == defaults.frequency_unit }}>
                                    {{ interval + 's' }}
                                </option>
                            {%- endfor %}
                        </select>
                    </dd>
                </dl>
                <footer>
                    <button class="button add" type="submit">Submit</button>
                </footer>
        </form>

        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        {%- for script in JS %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/' + script) }}"></script>
        {%- endfor %}
    </body>
</html>
