{% set CSS = [
    'dark.less.css',
] -%}
{% set JS = [
    'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
    'capabilities.js',
    'storage.js',
    'general.js',
] -%}

{% set defaults = {
  'frequency_number': '5',
  'frequency_unit': '60000',
} %}

{# TODO: Remove seconds so this isn't abused. Require a value of at least 1! #}
{% set frequency_choices = [
  ('1000', 'second'),
  ('60000', 'minute'),
  ('3600000', 'hour'),
  ('86400000', 'day'),
] %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="robots" content="none">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,900,300">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
        {%- for stylesheet in CSS %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/' + stylesheet) }}">
        {%- endfor %}
        <title>Prana</title>
    </head>
    <body>
        <header>
            <h1>Prana</h1>
        </header>
        <form action="{{ url_for('notify') }}" method="post">
            <dl>
                <dt>
                    <label for="url">Web Site</label>
                </dt>
                <dd class="c">
                    <input type="text" name="url" id="url" required class="large">
                </dd>
                <dt>
                    <label for="to">Contact me at</label>
                </dt>
                <dd class="c">
                    <input type="text" name="to" id="to" required class="large">
                </dd>
                <dt>
                    <label for="frequency_number">Interval</label>
                </dt>
                <dd class="c">
                    <span>Every</span>
                    <input type="number" name="frequency_number" id="frequency_number" min="1" value="{{ defaults.frequency_number }}" required>
                    <select name="frequency_unit" required>
                        {%- for ms, interval in frequency_choices %}
                            <option data-singular="{{ interval }}" data-plural="{{ interval + 's' }}"
                                    value="{{ ms }}"{{ ' selected' if ms == defaults.frequency_unit }}>
                                {{ interval + 's' }}
                            </option>
                        {%- endfor %}
                    </select>
                </dd>
            </dl>
            <footer>
                <button class="button add" type="submit">Submit</button>
            </footer>
        </form>
        {%- for script in JS %}
        <script type="text/javascript" src="{{ script if script.startswith(('//', 'http')) else url_for('static', filename='js/' + script) }}"></script>
        {%- endfor %}
    </body>
</html>
