<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Prana</title>
    </head>
    <body>
    <div id="content">
            <h1 class="vt">Prana</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/capabilities.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/storage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/humanedate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/general.js') }}"></script>
</html>
