{% extends 'base.html' %}

{% set defaults = {
  'status': '200',
  'frequency_number': '5',
  'frequency_unit': '60000',
} %}

{% set status_choices = [
  ('100', '100 Continue'),
  ('101', '101 Switching Protocols'),
  ('200', '200 OK'),
  ('201', '201 Created'),
  ('202', '202 Accepted'),
  ('203', '203 Non-Authoritative Information'),
  ('204', '204 No Content'),
  ('205', '205 Reset Content'),
  ('206', '206 Partial Content'),
  ('300', '300 Multiple Choices'),
  ('301', '301 Moved Permanently'),
  ('302', '302 Found'),
  ('303', '303 See Other'),
  ('304', '304 Not Modified'),
  ('305', '305 Use Proxy'),
  ('306', '306 Switch Proxy (Unused)'),
  ('307', '307 Temporary Redirect'),
  ('400', '400 Bad Request'),
  ('401', '401 Unauthorized'),
  ('402', '402 Payment Required'),
  ('403', '403 Forbidden'),
  ('404', '404 Not Found'),
  ('405', '405 Method Not Allowed'),
  ('406', '406 Not Acceptable'),
  ('407', '407 Proxy Authentication Required'),
  ('408', '408 Request Timeout'),
  ('409', '409 Conflict'),
  ('410', '410 Gone'),
  ('411', '411 Length Required'),
  ('412', '412 Precondition Failed'),
  ('413', '413 Request Entity Too Large'),
  ('414', '414 Request-URI Too Long'),
  ('415', '415 Unsupported Media Type'),
  ('416', '416 Requested Range Not Satisfiable'),
  ('417', '417 Expectation Failed'),
  ('500', '500 Internal Server Error'),
  ('501', '501 Not Implemented'),
  ('502', '502 Bad Gateway'),
  ('503', '503 Service Unavailable'),
  ('504', '504 Gateway Timeout'),
  ('505', '505 HTTP Version Not Supported'),
] %}

{% set header_choices = [
  'Accept-Ranges',
  'Age',
  'Allow',
  'Cache-Control',
  'Connection',
  'Content-Encoding',
  'Content-Language',
  'Content-Length',
  'Content-Location',
  'Content-MD5',
  'Content-Disposition',
  'Content-Range',
  'Content-Type',
  'Date',
  'ETag',
  'Expires',
  'Front-End-Https',
  'Last-Modified',
  'Link',
  'Location',
  'P3P',
  'Pragma',
  'Proxy-Authenticate',
  'Refresh',
  'Retry-After',
  'Server',
  'Set-Cookie',
  'Strict-Transport-Security',
  'Trailer',
  'Transfer-Encoding',
  'Vary',
  'Via',
  'Warning',
  'WWW-Authenticate',
  'X-Frame-Options',
  'X-XSS-Protection',
  'X-Content-Type-Options',
  'X-Forwarded-Proto',
  'X-Powered-By',
  'X-UA-Compatible'
] %}

{# TODO: Remove seconds so this isn't abused. Require a value of at least 1! #}
{% set frequency_choices = [
  ('1000', 'second'),
  ('60000', 'minute'),
  ('3600000', 'hour'),
  ('86400000', 'day'),
] %}

{% block content %}
    <form>
        <h2>Periodically check these URLs:</h2>
        <dl>
            <dt>
                <label>URL</label>
            </dt>
            <dd>
                <input type="text" name="url" required>
            </dd>
            <dt>
                <label>Status code</label>
            </dt>
            <dd>
                <select name="status">
                    <option value="">-----</option>
                    {%- for status, label in status_choices %}
                        <option{{ ' selected' if status == defaults.status }} value="{{ status }}">{{ label }}</option>
                    {%- endfor %}
                    <option value="[custom]">Custom</option>
                </select>
                <input type="text" class="hidden custom">
                <span class="custom">(regular expression)</span>
            </dd>
            <dt>
                <label>Header</label>
            </dt>
            <dd>
                <select name="header">
                    <option value="">-----</option>
                    {%- for header in header_choices %}
                        <option value="{{ header.lower() }}">{{ header }}</option>
                    {%- endfor %}
                    <option value="[custom]">Custom</option>
                </select>
                <input type="text" class="hidden custom">
                should match
                <input type="text" name="header_matches" class="matches"> (regular expression)
                <a href="">+ add another</a>
            </dd>
            <dt>
                <label>Content</label>
            </dt>
            <dd>
                should match (regular expression)
                <textarea type="text" name="content"></textarea>
                <a href="">+ add another</a>
            </dd>
            <dt>
                PyQuery/JSON of content
            </dt>
            <dd>
                <p>Rules:</p>
                <input type="text" name="content_raw"> should match
                <input type="text" name="content"> (regular expression)
                <a href="">+ add another</a>
            </dd>
            <dt>
                <label>Interval</label>
            </dt>
            <dd>
                Every
                <input type="text" name="frequency_number" value="{{ defaults.frequency_number }}">
                <select name="frequency_unit">
                    {%- for ms, interval in frequency_choices %}
                        <option data-singular="{{ interval }}" data-plural="{{ interval + 's' }}"
                                value="{{ ms }}"{{ ' selected' if ms == defaults.frequency_unit }}>
                            {{ interval + 's' }}
                        </option>
                    {%- endfor %}
                </select>
            </dd>
        </dl>
        <p><button type="submit">Submit</button></p>
    </form>

    <h2>Queued Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Expected</th>
                <th>Actual</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody id="queue">
        </tbody>
    </table>

    <h2>History</h2>
    <div id="history">
        <header>
            <a href="#" class="button selected">All</a>
            <a href="#" class="button good">Successes</a>
            <a href="#" class="button bad">Failures</a>
        </header>
        <div class="inner">
            <table>
                <thead>
                    <tr>
                      <th>URL</th>
                      <th>Expected</th>
                      <th>Actual</th>
                      <th>When</th>
                      <th>Status</th>
                      <th class="hidden-text">Edit</th>
                      <th class="hidden-text">Delete</th>
                    </tr>
                </thead>
                <tbody id="responses">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
